.github
.vscode

node_modules
tests

v8-compile-cache-0

docker
.devcontainer

.editorconfig
.env.example
.env.testing
.gitattributes
.gitignore
.styleci.yml

public/**
!public/index.php

google.json

composer.lock

package-lock.json
package.json
phpstan.neon
phpunit.xml
readme.md

standard.xml
tailwind.config.js
webpack.mix.js
