/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

resources/js/routes.js

.env
.env.backup
.env.testing
.env.prod

.phpunit.result.cache

cov-html

auth.json
google.json

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

*.tmp

.DS_Store

v8-compile-cache-0
.php_cs.cache
graph.png
