parameters:
    level: 5
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    excludePaths:
        - src/Testing
    ignoreErrors:
        - '#Unsafe usage of new static\(\)\.#'
        - '#Method .* should return .* but returns Sigmie\\Base\\Contracts\\ElasticsearchResponse.#'
