includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - tests

    ignoreErrors:
    - '/Call to an undefined method.*/'
    - '/Access to an undefined property.*/'
    - '/Parameter #1 \$callback of method Illuminate\\Support\\Collection.* void given\./'
    - '/Unreachable statement \- code above always terminates\./'

    # The level 8 is the highest level
    level: 5

    checkMissingIterableValueType: false
