<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd" backupGlobals="true" backupStaticAttributes="false" bootstrap="vendor/autoload.php" colors="true" verbose="false">
  <logging>
    <log type="coverage-html" target="tmp/coverage/coverage-html"/>
    <log type="coverage-text" target="tmp/coverage/coverage.txt"/>
    <log type="coverage-clover" target="tmp/coverage/coverage.xml"/>
  </logging>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
      </exclude>
    </whitelist>
  </filter>
  <testsuites>
    <testsuite name="unit">
      <directory>test/Unit</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>test/Integration</directory>
    </testsuite>
  </testsuites>
</phpunit>
