/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[v-cloak] {
  display: none;
}
