/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Tailwind */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[v-cloak] {
  display: none;
}

@font-face {
    font-family: "Circular Pro";
    src: url('https://storage.googleapis.com/sigmie-fonts/medium.woff2') format('woff2')
}

@font-face {
    font-family: "Circular Pro";
    src: url('https://storage.googleapis.com/sigmie-fonts/book-italic.woff2') format('woff2');
    font-style: italic, oblique;
}

@font-face {
    font-family: "Circular Pro";
    src: url('https://storage.googleapis.com/sigmie-fonts/book.woff2') format('woff2');
}

@font-face {
    font-family: "Circular Pro";
    src: url('https://storage.googleapis.com/sigmie-fonts/bold.woff2') format('woff2');
    font-weight: bold;
}

body {
    font-family: "Circular Pro",
        -apple-system,
        "San Francisco",
        "Segoe UI",
        "Helvetica Neue",
        "Lucida Grande",
        sans-serif
}
